<div class="element-bg-img"><img [src]="selectedHotelPhoto" alt="" class="img-responsive"></div>
<div class="element-left-bottom">
  <app-nav-bar (starsEventEmitter)="this.stars = $event"></app-nav-bar>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">

        <app-hotel-item
          *ngFor="let hotel of (hotels | hotelsPipe: hotelNameSearchString | starsPipe: stars)"
          [hotel]="hotel"
          (click)="onHotelSelected(hotel)"
          (favouriteEmitter)="favouriteEmitter.emit($event)"
        ></app-hotel-item>

      </div>
    </div>
  </div>
</div>
