<div class="element-bg-img"><img [src]="selectedHotelPhoto" alt="" class="img-responsive"></div>
<div class="element-left-bottom">
  <app-nav-bar></app-nav-bar>
  <div class="village">
    <h3>Righteous indignation & like</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">

        <app-hotel-item
          *ngFor="let hotel of hotels"
          [hotel]="hotel"
          (click)="hotelClicked.emit(hotel); this.selectedHotelPhoto = hotel.picture"
        ></app-hotel-item>

      </div>
    </div>
  </div>
</div>
