<!--<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script src="https://m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>-->
<script>
  (function () {
    if (typeof _bsa !== 'undefined' && _bsa) {
      // format, zoneKey, segment:value, options
      _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
    }
  })();
</script>
<script>
  (function () {
    if (typeof _bsa !== 'undefined' && _bsa) {
      // format, zoneKey, segment:value, options
      _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
    }
  })();
</script>
<script>
  (function () {
    if (typeof _bsa !== 'undefined' && _bsa) {
      // format, zoneKey, segment:value, options
      _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
    }
  })();
</script>

<app-header></app-header>

<app-hotel-search (searchInputEvent)="filterHotels($event)"></app-hotel-search>

<div class="element">
  <div class="element-left">
    <app-menu
      [hotelNameSearchString]="this.searchString"
      (hotelClicked)="this.selectedHotel = $event"
      (favouriteEmitter)="this.favouriteHotel = $event"></app-menu>
  </div>

  <div class="element-right">
    <app-weather *ngIf="selectedHotel" [weather]="selectedHotel.weather"></app-weather>
    <app-hotel-card *ngIf="selectedHotel" [hotelProfile]="selectedHotel.profile"></app-hotel-card>
  </div>
  <div class="clear"></div>
</div>

<app-favourite-hotels [addToFavourite]="this.favouriteHotel"></app-favourite-hotels>

<app-messages></app-messages>

<app-footer></app-footer>
